@media (max-width: 1200px) {
	.carousel {
		.tns-outer{
			width: 600px;
			margin: 0 auto;
			img {
				width: 100%;
			}
		}
		.prev {
			left: 66px;
		}
		.next {
			right: 66px;	
		}		
	}
	.footer {
		&__info {
			width: 400px;
			height: 250px;
		}
	}
} 
 @media (max-width: 992px) {
	.carousel {
		.prev {
			left: 50px;
		}
		.next {
			right: 12px;	
		}		
	}
	.catalog {
		&__content {
			justify-content: space-evenly;
		}
		&__tab {
			width: 200px;
		}	
	}
	.footer {
		&__info {
			width: 280px;
			height: 200px;
		}
		&__addr {
			margin-top: 35px;
    		font-size: 15px;
		}
		&__phone {
			font-size: 15px;
		}
		&__social-item {
			width: 35px;
			height: 35px;
			i {
				font-size: 17px;
			}
		}
	}
	

}
@media (max-width: 768px) {
	.header {
		&__official {
			display: none;
		}
	}
	.promo {
		&__wrapper{
			align-items: center;
		}
		&__header {
			font-size: 41px;
			font-weight: 500;
		}
		&__subheader {
			font-size: 20px;
			font-weight: 400; 
		}
	}
	.advantage {
		&__icons {
			flex-direction: column;
			align-items:center;
		}
		&__icon {
			margin: 0 auto;
			h2 {
				margin: 15px 0 10px 0;
			} 
		}
	}
	.title {
		
        &_left {
			text-align: center;
            font-size: 30px;
        }
    }
	.consultation {
        &__descr {
            text-align: center;
            margin-top: 80px;
			font-size: 22px;
			font-weight: 500;

        }
    }
    .feed-form {
        margin: 0 auto;
        margin-top: 37px;	
    }
	.carousel {
		.tns-outer{
			width: 500px;
			margin: 0 auto;
			img {
				width: 100%;
			}
			
		}
		button {
			display: none;
		}
		.prev {
			display: none;
		}
		.next {
			display: none;	
		}		
	}
	.catalog {
		&__tab {
			width: 150px;
			font-size: 15px;
		}
		.button_mini {
			display: block;
		}	
	}

}


@media (max-width: 576px) {
	.header {
		&__logo {
			img {
				width: 100%;
			}
		}
		&__phone {
			display: block;
			display: none;
			
		}
	}
	.promo {
		padding: 30px 0 80px 0;
		min-height: auto;
        
		&__wrapper {
			margin-top: 50px;
		}
		&__header {
			font-size: 35px;
			font-weight: 400;
		}
		&__subheader {
			font-size: 18px;
			font-weight: 300;
		}
		&__icons {
			width: 290px;
			margin-top: 50px;
		}
		&__icon {
			font-size: 11px;
			width: 85px;
		}
	}
	.button {
		width: 127px;
		display: none;
		&_main {
			display: inline-block;
			width: 250px;
			margin-top: 45px;
		}
		&_submit {
			display: inline-block;
			width: 100%;
		}
	}
    .title {
        &_left {
            text-align: center;
            font-size: 25px;
        }
    }
    .consultation {
        padding: 60px 0 30px 0;
        min-height: auto;
        &__descr {
            text-align: center;
            font-size: 20px;
            margin-top: 30px;
			font-weight: 300;
        }
    }
    .feed-form {
        width: 250px;
        margin: 0 auto;
        margin-top: 37px;
		
    }
	.carousel {
		.tns-outer{
			width: 270px;
			margin: 0 auto;
			img {
				width: 100%;
			}
			
			button {
				display: none;
			}
			
			
		}
		.prev {
			display: none;
		}
		.next {
			display: none;	
		}		
	}
	.catalog {
		&__tabs {
			flex-direction: column;
			margin-top: 20px;
		}
		&__tab {
			height: 50px;
			width: 220px;
			font-size: 18px;
        	font-weight: 500;
			margin-bottom: 0px;
			margin-top: 15px;

		}
		&__content {
			margin-top: 20px;
		}
	}
	.catalog-item {
		&__price {
			font-size: 17px;
		}
	}
	.reviews {
		.reviews-item{
			padding: 0;
			flex-wrap: wrap;
			&__photo {
				
				margin-top: 25px;
				img {
					max-width: 55px;
                	height: 55px;
					margin-top: 0px;
				}		
			}
			&__content {
				margin-left: 0;
				margin-top: 20px;
				text-align: left;
				padding-bottom: 60px;
				
			}
		}
	}
	.footer__info {
		width: 260px;
		height: 185px;
	}
	.pop-up {
		width: 280px;
		min-height: 330px;
		padding: 38px 12px 40px 17px;
		&__close {
			top: 9px;
    		right: 6px;
		}
		&__subtitle {
			font-size: 14px;
		}
		&__descr {
			font-size: 12px;
		}
		
	}
}